.category .header {
  border-bottom: 1px solid #eee;
}

.header {
  padding: 0 .4rem;
  background-color: #fff;
}

.header .title {
  line-height: .9rem;
  font-size: .36rem;
  display: none;
}
.category .search .search-box{
  border-color: #aaa;
}
.category .search .search-box i{
  color: #aaa;
}
.search {
  padding: .4rem 0;
}
.searchs .header{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}
.searchs{
  padding-top: 1.5rem;
}
.search-box {
  display: block;
  height: .8rem;
  position: relative;
  line-height: .8rem;
  padding-left: .4rem;
  font-size: .3rem;
  color: #888;
  border-radius: 3px;
  overflow: hidden;
  border: 1px solid #009b45;
}

.search-box i {
  display: inline-block;
  height: .44rem;
  width: .44rem;
  color: #009b45;
  position: absolute;
  right: .25rem;
  top: .18rem;
  font-size: .4rem;
  line-height: .44rem;
}

.container {
  height: 100%;
  width: 100%;
  font-size: .32rem;
  padding-bottom: 1.6rem;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.container#category {
  padding-bottom: 1.2rem;
}

.index .search {
  padding: 1rem .4rem .6rem;
  background-color: #fff;
  box-shadow: 1px 1px 2px #eee;
}

.weather {
  line-height: 1rem;
  line-height: 1rem;
}

.logo {
  text-align: center;
  padding-top: 1rem;
  display: none;
}

.logo img {
  width: 30%;
  margin-bottom: .2rem;
}

.i-search {
  height: 1.2rem;
  border: 1px solid #00b945;
  overflow: hidden;
  margin-bottom: .5rem;
}

.i-search input {
  width: 5rem;
  height: 1rem;
  margin-top: .1rem;
  outline: none;
  padding: 0 .2rem;
  font-size: .3rem;
}

.i-search form {
  display: block;
  height: 1rem;
}

.i-search .btn-submit {
  width: 1.5rem;
  background-color: #00B945;
  color: #fff;
  letter-spacing: 2px;
  float: right;
  margin-top: 0;
  height: 1.2rem;
  box-sizing: border-box;
  border: none;
  font-size: .3rem;
  -webkit-appearance: none;
  border-radius: 0;
}

.hot-search {}

.hot-search .title {
  height: 1rem;
  line-height: 1rem;
  text-align: left;
  font-weight: bold;
}

.hot-search .h-list a {
  padding-right: .1rem;
  white-space: nowrap;
  font-size: .28rem;
  color: #444;
}

.container .cat-nav {
  width: 2rem;
  float: left;
  overflow-y: scroll;
  padding-bottom: .4rem;
  padding-right: 4px;
  background-color: #fff;
}

*::-webkit-scrollbar {
  display: none;
}

.cat-nav li {
  font-size: .3rem;
  color: #000;
  height: 1.06rem;
  border-bottom: 1px solid #eee;
  border-right: 1px solid #eee;
}

.cat-nav li div {
  padding: .2rem 0;
  line-height: .72rem;
  text-align: center;
}

.cat-nav li .c-name {
  letter-spacing: 1px;
  line-height: .4rem;
}

.cat-nav li.on {
  background-color: #00b945;
  color: #fff;
  height: 1.12rem;
  border-right: none;
  font-weight: bold;
  border: none;
}

.cat-nav li.on .item {
  box-shadow: 1px 1px 10px #93ce81;
  position: relative;
  z-index: 111;
}

.container .goods-list {
  padding: 0 0.4rem;
  margin-left: 2rem;
  overflow: hidden;
  background-color: #fff;
}

.goods-list .filter {
  border-bottom: 1px solid #eee;
  width: 100%;
  padding: .2rem 0;
  height: 1.06rem;
}

.goods-list .products {
  padding: 0;
  overflow-y: scroll;
}

.filter .item {
  width: 33.3333%;
  font-size: .26rem;
  float: left;
  font-weight: bold;
  color: #888;
  text-align: center;
  height: .6rem;
  line-height: .6rem;
  overflow: hidden;
}

.filter .item span {
  display: inline-block;
  height: .6rem;
  overflow: hidden;
  vertical-align: text-bottom;
  float: left;
}

.filter .item span.uad {
  width: .6rem;
  vertical-align: bottom;
  margin-top: .1rem;
}

.filter .item span i {
  display: inline-block;
  width: .4rem;
  height: .2rem;
  line-height: .2rem;
  float: left;
  font-size: .2rem;
}

.products {
  background-color: #fff;
  padding: 0 .4rem;
}

.index .products {
  margin-top: .3rem;
}

.products>.title {
  width: 7.5rem;
  height: 1rem;
  padding: 0 .4rem;
  line-height: 1rem;
  border-bottom: 1px solid #eee;
  margin-left: -0.4rem;
  text-align: left;
  font-weight: bold;
}

.products .product {
  padding: .3rem 0;
  border-bottom: 1px solid #eee;
}

.products .product:last-child {
  border: none;
}

.products .product>a {
  background-color: #fff;
  display: block;
}

.products .product .prop {
  min-height: .7rem;
  font-size: .32rem;
}

.products .product .prop p {
  line-height: .5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.products .product .prop .p-bname{
  color: #888;
  font-size: .3rem;
}
.products .product .prop .p-stock{
  font-size: .3rem;
  margin-left: .4rem;
}
.products .product .num {
  color: #888;
}

.products .product .num i {
  color: #000;
}

.products .product .pirce {
  line-height: .6rem;
  height: .5rem;
  color: #888;
  overflow: hidden;
  overflow: hidden;
}
.products .product .pirce .y{
  float: left;
}
.products .product .pirce .right{
  font-size: .26rem;
}
.products .product .pirce i {
  font-style: normal;
  font-size: .32rem;
}

.products .product .title span {
  padding-right: .1rem;
}
.products .product .title .p-bname{
  font-size: .28rem;
}

/*footer*/

.footer {
  width: 100%;
  height: 1.2rem;
  background-color: #fff;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  display: -webkit-flex;
  box-shadow: 0px -1px 1px #ddd;
}

.footer .item {
  flex: 1;
  -webkit-flex: 1.0;
  text-align: center;
  line-height: 0.2rem;
  font-size: 0.3rem;
}

.footer .item.on a {
  color: #3db858;
}

.footer .item a {
  font-size: .3rem;
  display: block;
  height: 1.2rem;
}
.footer .item a span{
  display: block;
  height: .6rem;
  text-align: center;
  line-height: .6rem;
}
.footer .item a .iconfont {
  font-size: 0.5rem;
  font-weight: normal;
  line-height: 0.8rem;
}

/*购物车*/

.container .cart {
  margin-top: .4rem;
}

.cart .create {
  display: flex;
  display: -webkit-flex;
  padding: .25rem .4rem;
  line-height: .6rem;
  background-color: #fff;
  margin-bottom: .4rem;
  box-shadow: 1px 1px 2px #eee;
}

.create .txt {
  flex: 1;
  -webkit-flex: 1;
  text-align: left;
}

.create .txt span {
  font-weight: bold;
}

.create .txt span small {
  color: #888;
  font-weight: normal;
}

.create .icon {
  width: .7rem;
  font-size: .6rem;
  color: #00b945;
}

.buy-box .cart-list {
  height: 100%;
  padding-bottom: 1.4rem;
  overflow-y: scroll;
}

.cart-list .item {
  margin-bottom: .4rem;
  background-color: #fff;
  box-shadow: 1px 1px 2px #eee;
}

.cart-list .cart-header {
  display: flex;
  display: -webkit-flex;
  padding: .3rem .4rem;
  border-bottom: 1px solid #eee;
  line-height: .4rem;
  height: 1rem;
}

.cart-list .cart-header .title {
  flex: 1;
  -webkit-flex: 1;
}

.cart-list .cart-header .title a {
  font-size: .32rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.cart-list .cart-header .title small {
  color: #888;
  font-weight: normal;
}

.cart-list .cart-header .cart-del {
  width: .5rem;
}

.cart-list .cart-addr {
  padding: .3rem .4rem;
}

.cart-list .cart-addr .cart-user-info {
  line-height: .5rem;
}

.cart-list .cart-addr .cart-desc {
  color: #888;
  font-size: .3rem;
}

.container .cart-info .products {
  background-color: #fff;
  padding: 0 .4rem;
  box-shadow: 1px 1px 2px #eee;
}

.cart-info-header {
  display: flex;
  display: -webkit-flex;
  padding: .2rem .4rem;
  line-height: .68rem;
  margin-bottom: .3rem;
  background-color: #fff;
  box-shadow: 1px 1px 2px #eee;
  margin-top: .3rem;
}

.cart-info-header .txt {
  flex: 1;
}

.cart-info-header .icon {
  width: .7rem;
}

.cart-info-header .icon i {
  font-size: .4rem;
  float: right;
}

.container .cart-info .product {
  display: -webkit-flex;
  /* Safari */
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.product .p-check {
  width: 10%;
}

.p-check input {
  /* width: 40px; */
  /* height: 40px; */
  /* -webkit-border-radius: 50%; */
  display: none;
}

.p-check input[type="checkbox"]+label {
  display: inline-block;
  width: 100%;
  padding-left: 2px;
  text-align: left;
  -webkit-box-sizing: border-box;
}

.p-check label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #fff;
  vertical-align: middle;
  -webkit-border-radius: 50%;
  border: 1px solid #aaa;
  margin-right: 5px;
  -webkit-box-sizing: border-box;
}

.p-check input[type="checkbox"]:checked+label::before {
  background-color: rgb(53, 183, 111);
  border: 2px #EEEEEE solid;
}

.product .p-edit {
  width: 33%;
}

.product .p-info {
  flex:1;
  -webkit-flex:1;
}

.product .p-edit .p-del {
  text-align: right;
  height: .9rem;
}

/*数量加减*/

.quantity {
  width: 2rem;
  float: right;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  border: 1px solid #eee;
}

.btn-minus, .btn-plus {
  width: .5rem;
  height: .5rem;
  background-color: #fff;
  float: right;
  border-left: 1px solid #eee;
}

.btn-minus {
  width: .5rem;
  height: .5rem;
  background-color: #fff;
  float: right;
  border-left: none;
  border-right: 1px solid #eee;
}

.btn-minus .minus, .btn-plus .plus {
  display: block;
  height: .5rem;
  position: relative;
}

.btn-minus .minus:before {
  position: absolute;
  top: .22rem;
  left: .06rem;
  border-bottom: .02rem solid #888;
  width: .32rem;
  height: .02rem;
  content: ' ';
}

.btn-plus .plus:before {
  position: absolute;
  top: .22rem;
  left: .09rem;
  border-bottom: .02rem solid #888;
  width: .32rem;
  height: .02rem;
  content: ' ';
}

.btn-plus .plus:after {
  position: absolute;
  top: .23rem;
  left: .10rem;
  border-bottom: .02rem solid #888;
  width: .32rem;
  height: .02rem;
  content: ' ';
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.btn-input {
  flex: 1;
  height: .5rem;
  text-align: center;
  line-height: .5rem;
}

.btn-input input {
  width: .8rem;
  border: none;
  text-align: center;
}

.goBuy {
  width: 100%;
  height: 1.2rem;
  line-height: 1.2rem;
  text-align: center;
  position: fixed;
  bottom: -0.1px;
  background-color: #fff;
  box-shadow: 0px 0px 0px 1px #ddd;
}

.goBuy .check-all {
  width: 26.66%;
  float: left;
  text-align: left;
  text-indent: .1rem;
  padding-left: .4rem;
  text-align: left;
  font-size: .32rem;
}

.goBuy .goods-price {
  width: 42.68%;
  font-weight: bold;
  float: left;
}
.goBuy .goods-price p{
  height: 1.2rem;
  line-height: .4rem;
  padding: .3rem 0;
}
.goBuy .goods-price span {
  display: block;
  font-size: .36rem;
  color: #ff9250;
}
.goBuy .goods-price span.fee{
  font-size: .26rem;
  color: #888;
}
.goBuy .goods-price span .font-co {
  padding-right: 2px;
}

.goBuy .btn-submit {
  width: 30.66%;
  float: left;
  color: #fff;
  background-color: #3db858;
}

.goBuy .btn-submit a {
  display: block;
  color: #fff;
}

/*用户中心*/
.user .header {
  background-color: #fff;
  height: 1.9rem;
  font-size: .36rem;
  margin-bottom: .4rem;
  margin-top: .4rem;
}

.u-photo {
  position: relative;
  padding-top: .3rem;
  text-align: center;
}

.u-photo .photo {
  width: 1.3rem;
  height: 1.3rem;
  float: left;
}

.u-photo .name {
  margin-left: 1.6rem;
  line-height: .5rem;
  font-size: .36rem;
  text-align: left;
  padding: .2rem 0
}
.u-photo .name p{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 90%;
}
.u-photo .name .tel{
  color: #888;
  font-size: .28rem;
}
.u-photo .photo img {
  width: 100%;
  height: 100%;
}

.u-photo .admin-msg {
  position: absolute;
  right: 0;
  top: .85rem;
  font-size: .3rem;
}

.grid {
  background-color: #fff;
  margin-bottom: .4rem;
  box-shadow: 1px 1px 2px #eee;
}

.grid .item {
  border-bottom: 1px solid #eee;
}
.grid .item:last-child {
  border: none;
}

.grid .item a {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  text-align: center;
  padding: .3rem .4rem;
}

.grid .item.ord a {
  padding: .3rem .4rem;
  color: #00B945;
}

.grid .item.ord a .icon .iconfont {
  width: .7rem;
  color: #00B945;
  font-size: .64rem;
}

.grid .item a .icon {
  width: .7rem;
  height: 30px;
}

.grid .item a .icon img {
  width: 28px;
}

.grid .item a .icon:last-child {
  text-align: right;
}

.grid .item a .icon .iconfont {
  font-size: 30px;
}

.grid .item a .icon .iconfont.icon-jinru {
  font-size: 20px;
}

.grid .item a .txt {
  flex: 1;
  -webkit-flex: 1;
  text-align: left;
  padding: 0 .2rem;
  height: 30px;
  font-size: 18px;
  line-height: 30px;
}

.grid .item.ord a .txt {
  font-weight: bold;
}

.grid.help {
  text-align: center;
}

.grid.help .item {
  margin: .2rem 0;
  height: .6rem;
  line-height: .6rem;
  border-left: 1px solid #eee;
}

.grid.help .item:first-child {
  border: none;
}

.activ-box {
  padding: 1.8rem .4rem 1.5rem;
}

.activ-box .logout {
  width: 100%;
  height: .8rem;
  line-height: .8rem;
  background: none;
  border: none;
  font-size: .3rem;
  font-weight: bold;
  letter-spacing: 2px;
  background-color: #ff9250;
  color: #fff;
  border-radius: 5px;
}

/*商品详情*/

.info {
  padding: 0.8rem .4rem .4rem;
  width: 100%;
  position: relative;
  background-color: #fff;
}
.info .title{
  display: flex;
  display: -webkit-flex;
}
.info .name{
  flex: 1;
  -webkit-flex:1;
}
.info h1,.info h2{
  font-size: .4rem;
  line-height: .5rem;
  height: .6rem;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.info h2{
  font-size: .36rem;
}
.info .collect {
  line-height: .5rem;
  width: 1rem;
  font-size: .26rem;
  text-align: center;
}
.info .collect.on i{
  color: #f60;
}
.info .i-info {
  font-size: .26rem;
  color: #888;
}

.info .i-price {
  float: left;
  width: 3.3rem;
  font-size: .4rem;
  font-weight: bold;
  line-height: .8rem;
}

.info .i-price p {
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.info .i-size {
  width: 3.3rem;
  margin-left: 3.3rem;
  overflow: hidden;
}

.info .i-size p {
  width: 90%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.tips {
  border-top: 1px solid #eee;
  font-size: .2rem;
  color: #888;
  background-color: #fff;
  height: .75rem;
  padding: .2rem .4rem;
}

.tips span {
  margin-right: .1rem;
  vertical-align: top;
  font-size: .26rem;
  line-height: .4rem
}

.product .tips p {
  display: flex;
  display: -webkit-flex;
}

.tips span.t-left {
  flex: 1;
  -webkit-flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tips span.t-right {
  width: .5rem;
  text-align: right;
}

.tips span .iconfont {
  font-size: .26rem;
  color: #ff782f;
}

.tips span .t-t {
  margin-right: .1rem;
}

.price-h {
  margin-top: .4rem;
  background-color: #fff;
  padding: .6rem .4rem;
}

.price-h .tit, .p-desc .tit {
  font-size: .3rem;
  font-weight: bold;
  line-height: .6rem;
  text-align: left;
  color: #000;
}

.p-desc p {
  font-size: .3rem;
}

.price-h .chart {
  width: 100%;
  margin-top: .2rem;
}

.p-desc {
  margin-top: .4rem;
  background-color: #fff;
  padding: .6rem .4rem 1rem;
  color: #888;
}

.buy-box .cart {
  height: 100%;
  position: fixed;
  bottom: 0;
  background: #fff;
}

.buy-box .container {
  position: fixed;
  top: 0;
}

.buy-box .container .cart {
  margin-top: 0;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #f0f1f0;
}

.server-box {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: #fff;
  font-size: .32rem;
  z-index: 11111;
}

.server-box .sb-tit h2 {
  height: 1rem;
  line-height: 1rem;
  font-size: .32rem;
  text-align: center;
  letter-spacing: 2px;
  border-bottom: 1px solid #eee;
}

.server-box .server-content {
  padding: 0 .4rem;
  padding-bottom: 1.4rem;
}

.server-box .item {
  display: flex;
  display: -webkit-flex;
  border-bottom: 1px solid #eee;
  padding: .3rem 0;
}

.server-box .item .icon {
  width: .7rem;
}

.server-box .item .icon i {
  color: #ff782f;
}

.server-box .item .sb-desc {
  flex: 1;
  -webkit-flex: 1;
}

.sb-desc h3 {
  height: .35rem;
  line-height: .35rem;
  font-size: .28rem;
}

.sb-desc p {
  line-height: .35rem;
  font-size: .26rem
}

.footer.product-footer {
  letter-spacing: 2px;
  text-align: center;
  background-color: #00B945;
}

.footer.product-footer span {
  display: block;
  width: 100%;
  font-size: .4rem;
  line-height: 1.2rem;
  text-align: center;
  color: #fff;
  letter-spacing: 2px;
}

.gobuy {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: .3rem;
  z-index: 11;
}

.mask {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, .2);
}

.gobuy .gb-box {
  position: relative;
  background-color: #fff;
  z-index: 111111111;
}

.gobuy .gb-box .swith-bth {
  line-height: 1.2rem;
  display: flex;
  display: -webkit-flex;
}

.swith-bth .item {
  flex: 1;
  text-align: center;
  background-color: #f5f5f5;
}

.gobuy .gb-box .swith-bth .item:first-child {
  border-right: 1px solid #eee;
}

.swith-bth .item.on {
  background-color: #fff;
  color: #00B945;
  font-weight: bold;
}

.gb-box .product {
  padding: .4rem;
  padding-bottom: .8rem;
}

.gb-box .product .title {
  font-weight: bold;
}

.gb-box .product .item.title {
  padding: .1rem 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.gb-box .product .item.weight {
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.gb-box .product .item.title span {
  display: inline;
  padding-right: .2rem;
  font-size: .4rem;
}
.gb-box .product .item.title span {
  display: inline;
  padding-right: .2rem;
  font-size: .4rem;
}
.gb-box .product .item {
  font-size: .36rem;
  padding-top: .5rem;
}

.gb-box .product .item span {
  line-height: .54rem;
  display: inline-block;
  word-break: break-all;
  margin-right: 5px;
  font-size: .3rem;
}

.gb-box .product .item span.value.y {
  margin-left: .2rem;
  font-size: .4rem;
}

.gb-box .product .right {
  float: right;
}

.flex {
  width: 100%;
  display: flex;
  display: -webkit-flex;
}

.gb-box .gb-footer {
  border-top: 1px solid #eee;
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  line-height: 1.2rem;
  height: 1.2rem;
  letter-spacing: 1px;
  font-size: .4rem;
}

.gb-footer .price {
  flex: 1;
  text-align: center;
}

.gb-footer .buy-commit {
  flex: 1;
  -webkit-flex: 1;
  background-color: #00B945;
  text-align: center;
  color: #fff;
}

.gb-footer .addtocart {
  flex: 1;
  -webkit-flex: 1;
  border: 1px solid #00B945;
  text-align: center;
  box-sizing: border-box;
}

.footer.order-footer span {
  line-height: 1.2rem;
  font-weight: bold;
}

.product .cart {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 11;
}

/*确认订单*/

.order .address {
  padding: .4rem;
  line-height: .4rem;
  border-bottom: 1px solid #eee;
  display: flex;
  display: -webkit-flex;
  font-size: .34rem;
  background-color: #fff;
  border-bottom: 2px solid #8ee951;
}

.order .address p {
  line-height: .8rem;
  font-size: .3rem;
  color: red;
}

.order .address .a-info {
  width: 80%;
  color: #888;
}
.order .address .a-info .a-dist{
  width: 100%;
  word-break: break-all;
  line-height: .3rem;

}
.order .address .a-info .a-dist span{
  word-break: break-all;
  font-size: .28rem;
}
.order .address .name .user-name {
  color: #000;
}

.address .right-arrow {
  width: 20%;
  line-height: .8rem;
  color: #888;
  text-align: right;
}

.order .products .product {
  display: flex;
  display: -webkit-flex;
}

.order .product .p-info {
  width: 100%;
}

.product .num>span {
  display: block;
  float: left;
  line-height: .6rem;
}

.product .num .quantity {
  float: left;
  margin: .07rem 0;
  margin-right: .1rem;
}
.order .product .num .quantity{
  float: right;
}
.order .products .product .num {
  line-height: .6rem;
}

.product .p-info .price {
  padding-top: .2rem;
}

.product .num>span .black {
  margin-right: 15px;
}

.order .grid {
  margin-top: .4rem;
}

.order .grid .item {
  padding: .2rem .4rem;
  height: 1rem;
  line-height: .6rem;
}

.order .grid .item span.value {
  text-align: right;
  float: right;
  font-weight: bold;
}

.order .grid .item span.value i.icon-weixinzhifu {
  color: #00B945;
  margin-right: .1rem;
}
.order .products .product .pirce .disable{
  font-weight: normal;
  color: #aaa;
  font-size: .28rem;
}
.order .grid .item span.value i {
  margin-left: .2rem;
}
.order .grid .item span.value.disable{
  font-weight: normal;
  color: #aaa;
  font-size: .3rem;
}
.paymode {
  background-color: #fff;
  position: relative;
  z-index: 1111;
}

.flexbox {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 111;
  box-shadow: 1px -1px 3px #eee;
}

.flexbox .tit {
  font-size: .36rem;
  color: #000;
  font-weight: bold;
  padding: .4rem;
  background-color: #fff;
  border-bottom: 1px solid #eee;
}

.flexbox .pay-list .item {
  font-size: .32rem;
  border-bottom: 1px solid #eee;
  padding: .35rem .4rem;
}

.flexbox .pay-list .item.on {
  color: #00B945;
}

.flexbox .pay-list .item.on .iconfont {
  color: #00B945;
}

.flexbox .pay-list .item:last-child {
  border: none;
  padding-bottom: .6rem;
}

.flexbox .pay-list .item .icon {
  float: right;
  color: #888;
}

.coupon-list {
  background-color: #f5f5f5;
  position: relative;
  z-index: 1111;
}

.coupon-list .coupons {
  background-color: #f5f5f5;
  padding-bottom: .5rem;
}

.coupon-list .no-use {
  font-size: .4rem;
  font-weight: bold;
  text-align: center;
  line-height: 1rem;
  background-color: #fff;
}

.footer.order-footer {
  background-color: #00B945;
  color: #fff;
  letter-spacing: 2px;
}

.footer.order-footer .item {
  font-size: .34rem;
}

.order-list {}

.order-list .order {
  margin-top: .4rem;
  background-color: #fff;
  box-shadow: 1px 1px 2px #eee;
}

.order-list .taps {
  display: flex;
  display: -webkit-flex;
  padding: 0 .4rem;
  background-color: #fff;
  line-height: 1rem;
  box-shadow: 1px 1px 2px #eee;
}

.taps .item {
  flex: 1;
  -webkit-flex: 1;
}

.taps .item .on {
  color: #00B945;
}

.taps .item a {
  display: block;
  text-align: center;
}

.icon-order {
  font-size: .4rem;
}

.orders {}

.order .order-header, .order-detail .order-header {
  display: flex;
  display: -webkit-flex;
  padding: .3rem .4rem;
  border-bottom: 1px solid #eee;
  background-color: #fff;
}

.order-header .order-number {
  -webkit-flex: 1;
  flex: 1;
  line-height: .4rem;
  font-size: .3rem;
}

.order-header .order-status {
  width: 1.6rem;
  font-size: .3rem;
  color: #888;
  text-align: right;
}

.order-content {
  padding: 0 .4rem;
}

.container .order-detail {
  font-size: .34rem;
}

.order-product .item {
  display: flex;
  display: -webkit-flex;
  padding: .2rem 0;
  line-height: .4rem;
  font-size: .32rem;
  border-bottom: 1px solid #eee;
}

.order-product .item:last-child {
  border: none;
}

.order-product .pro {
  line-height: .4rem;
  flex: 1;
  -webkit-flex: 1;
  font-size: .3rem;
  color: #888;
}
.order-product .pro.black {
  line-height: .4rem;
  flex: 1;
  -webkit-flex: 1;
  font-size: .3rem;
  color: #000;
}

.order-product .pro a {
  font-size: .3rem;
}

.order-product .show-express {
  width: 1.5rem;
  text-align: right;
}

.order-product .show-express a {
  font-size: .3rem;
}

.order-product .express {
  font-size: .3rem;
}

.order-content .order-product:last-child {
  border-bottom: none;
}

.order .order-footer {
  line-height: .6rem;
  border-top: 1px solid #eee;

}
.order .order-footer .order-price{
  padding: .2rem .4rem;
  text-align: right;
  font-size: .28rem;
  border-bottom: 1px solid #eee;
}
.order .order-footer .order-price span{
  margin-left: .1rem; 
}
.order-footer .order-edit{
  padding: .2rem .4rem;
  text-align: right;
}
.order-footer .order-edit a {
  display: inline-block;
  width: 1.8rem;
  border: 1px solid #ddd;
  border-radius: 23px;
  padding:  0 .1rem;
  font-size: .3rem;
  text-align: center;
  height: .6rem;
  box-sizing: border-box;
  line-height: .6rem;
  margin-left: .2rem;
}

.order-footer .order-edit a.btn-gray{
  color: #888;
  border-color: #888;
}
.order-footer .order-edit a.btn-green{
  color: #009b45;
  border-color: #009b45;
}
.order-footer .order-edit a.gopay {
  border-color: #00B945;
  color: #00B945;
}

.order-detail .order-address {
  display: flex;
  display: -webkit-flex;
  padding: .3rem .4rem;
  background-color: #fff;
  box-shadow: 1px 1px 2px #eee;
  align-items: center;
}

.order-address .loc {
  width: .5rem;
}

.order-address .address-detail {
  flex: 1;
  -webkit-flex: 1;
}

.order-address .address-detail .tel {
  margin-left: .3rem;
}

.order-address .address-detail p {
  line-height: .4rem;
  font-size: .3rem;
}

.product-info {
  background-color: #fff;
  box-shadow: 1px 1px 2px #eee;
  margin-top: .4rem;
}

.product-info .p-title {
  padding: .3rem .4rem;
  line-height: .4rem;
  border-bottom: 1px solid #eee;
  height: 1rem;

}

.product-info .p-title .title {
  width: 2rem;
  font-weight: bold;
  float: left;
}

.product-info .express {
  margin-left: 2rem;
  font-size: .3rem;

  text-align: right;
}
.product-info .express .btn{
  border: 1px solid #333;
  border-radius: 3px;
  padding: .1rem;
  font-size: .3rem;
}
.product-info .product-detail {
  padding: .3rem .4rem;
  border-bottom: 1px solid #ddd;
}
.product-info .product-detail:last-child{
  border-bottom: none;
}
.product-info .product-detail .item {
  width: 100%;
  float: left;
  overflow: hidden;
  white-space: normal;
  text-overflow: ellipsis;
  line-height: .5rem;
}
.pay-info{
  padding: .4rem;
  background-color: #fff;
  margin-top: .4rem;
  line-height: .45rem;
  color: #888;
  font-size: .32rem;
}
.pay-info .item.pay{
  color: #000;
}
.item .label{
  width: 1.8rem;
  float: left;
  line-height: .45rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.item .info-r {
  margin-left: 1.8rem;
  min-width: 5rem;
}
.product-info .item .label{
  width: 1.4rem;
}
.product-info .item .info-r{
  margin-left: 1.4rem;
}
.express-box{
  position: fixed;
  top: 20%;
  left: 10%;
  width: 80%;
}
.express-box .express{
  background-color: #fff;
  position: relative;
  overflow-y: scroll;
  z-index: 999;
  border-radius: 5px;
  padding-bottom: .4rem;
}
.express-box .express .e-title{
  padding: .3rem .4rem;
  border-bottom: 1px solid #ddd;
}
.express .e-title .no{
  font-size: .3rem;
}
.express-box .express .e-info{
  padding: .3rem .4rem;
}
.express-box .e-info .txt{
  margin-bottom: .4rem;
}

.contracts {
  padding: 0 .4rem;
  background-color: #fff;
  margin-top: .4rem;
  font-size: .3rem;
  box-shadow: 1px 1px 2px #eee;
}

.contracts .btn-click {
  width: 3rem;
  margin-left: .2rem;
  text-align: right;
}

.contracts .btn-click a {
  display: inline-block;
  background: none;
  padding:0 .1rem;
  overflow: hidden;
  border: 1px solid #444;
  height: .6rem;
  border-radius: 3px;
  box-sizing: border-box;
  line-height: .6rem;
  width: 1.5rem;
  font-size: .3rem;
  text-align: center;
}
.contracts .btn-click a.btn-gray{
  color: #888;
  border-color: #888;
}
.contracts .btn-click a.btn-green{
  color: #009b45;
  border-color: #009b45;
}
.contracts .invoice, .contracts .contract {
  line-height: .6rem;
  border-bottom: 1px solid #eee;
  height: 1rem;
  padding: .2rem 0;
}

.contracts .invoice i, .contracts .contract i {
  color: #000;
}

.contracts .contract {
  border-bottom: none;
}

.order-info {
  padding: .3rem .4rem;
  margin-top: .4rem;
  line-height: .4rem;
  background-color: #fff;
  box-shadow: 1px 1px 2px #eee;
  color: #888;
}
.order-info .no{
  color: #000;
  margin-bottom: .2rem;
}
.order-info .order-number {
  margin-bottom: .2rem;
  font-size: .34rem;
}

.order-info .order-times {
  color: #888;
  font-size: .3rem;
}

.order-detail .footer {
  padding: .3rem .4rem;
  height: 1.2rem;
  box-shadow: none;
  border-top: 1px solid #eee;
}

.order-detail .footer .item {
  text-align: right;
  line-height: .6rem;
}

.order-detail .footer .item.price {
  text-align: left;
  font-weight: bold;
}

.order-detail .footer .item .btn-click {
  display: inline-block;
  border: 1px solid #000;
  height: .6rem;
  padding:  0 .1rem;
  line-height: .6rem;
  width: 1.5rem;
  text-align: center;
  font-size: .3rem;
  border-radius: 3px;
  box-sizing: border-box;
}

/*线下付款*/

.payul .pay-tabs {
  display: flex;
  display: -webkit-flex;
  height: .8rem;
  padding: .2rem 0;
  border-bottom: 1px solid #eee;
}

.pay-tabs .item {
  flex: 1;
  text-align: center;
  line-height: .4rem;
  border-right: 1px solid #eee;
  color: #888;
  font-weight: bold;
}

.pay-tabs .item:last-child {
  border: none;
}

.pay-tabs .item.on span {
  color: #00B945;
}

.pay-way {
  padding: 0 .4rem;
  height: 3.6rem;
  border-bottom: 1px solid #eee;
}

.pay-way .pay-value {
  line-height: 1.6rem;
  font-weight: bold;
  font-size: .36rem;
}

.pay-way .pay-name, .pay-way .pay-accout, .pay-way .accout-name {
  line-height: .35rem;
  font-size: .3rem;
  margin-top: .2rem;
}

.payul-tips {
  padding: .6rem .4rem;
  color: #888;
}

.payul-tips p {
  margin-top: .2rem;
}

.payul-tips p.blue {
  color: #739bff;
}

.payul .block {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.payul .block .to-order {
  display: block;
  height: 1.2rem;
  line-height: 1.2rem;
  text-align: center;
  color: #fff;
  background-color: #00B945;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: .34rem;
}

/*搜索*/

.container .searchs {
  border-top: 1px solid #eee;
  margin-bottom: -1.4rem;
}
.searchs .products{
  margin-top: .4rem;
}
.search .search-inp {
  height: .8rem;
  width: 100%;
  float: left;
  padding: 0 .6rem 0 0;
  line-height: .8rem;
}

.apply-goods {
  display: none;
  padding: 0 .4rem .25rem;
  background: #fff;
  border-bottom: 1px solid #eee;
}

.apply-goods p {
  font-size: .26rem;
  line-height: .5rem;
}

.apply-goods p a {
  display: inline-block;
  color: #fff;
  background-color: #40af57;
  width: 1.2rem;
  font-size: .26rem;
  border-radius: 2px;
  text-align: center;
  float: right;
  padding: .13rem 0;
  line-height: .24rem;
  height: .24rem;
  box-sizing: content-box;
}

.apply-box {
  font-size: .3rem;
}

.apply-box .tel {
  padding: .3rem .4rem;
  height: 1rem;
  border-bottom: 1px solid #eee;
}

.apply-box .content {
  padding: .4rem .4rem .8rem;
  border-bottom: 1px solid #eee;
}

.apply-box .content label {
  float: left;
}

.apply-box .audio {
  padding: .8rem .4rem;
  position: relative;
}

.apply-box .audio input {
  width: 3.6rem;
  height: .8rem;
  background-color: #f5f5f5;
  color: #888;
  text-align: center;
  line-height: .8rem;
  border: 1px solid #eee;
  border-radius: 3px;
}

.apply-box label {
  padding-right: .2rem;
  color: #888;
}

.apply-box .audio .or {
  display: inline-block;
  width: 50px;
  height: 50px;
  text-align: center;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -25px;
  z-index: 11;
  padding: 10px;
  background-color: #fff;
}

.apply-box .audio i {
  display: inline-block;
  width: 25px;
  height: 25px;
  text-align: center;
  background-color: #eee;
  color: #fff;
  border-radius: 20px;
  border: 1px solid #eee;
  line-height: 23px;
}

/*优惠券*/

.coupon {}

.coupons {
  padding: 0 .4rem;
}

.coupons .item {
  margin-top: .5rem;
  box-shadow: 1px 1px 2px #eee;
  border-radius: 5px;
  overflow: hidden;
}

.item.on .c-h .ch-info .title{
  color: #888;
}
.item.on .c-h .ch-price span{
  color: #888;
}
.coupons .c-h {
  background-color: #fff;
}

.c-h .ch-price {
  width: 2.7rem;
  float: left;
  height: 1.8rem;
  text-align: center;
  padding-top: .6rem;
  line-height: .6rem;
}

.c-h .ch-price span {
  font-size: .5rem;
  color: #3ad967;
}

.c-h .ch-info {
  margin-left: 2.7rem;
  height: 1.8rem;
  padding-top: .6rem;
  color: #888;
  font-size: .3rem;
}

.c-h .ch-info .title {
  font-weight: bold;
  color: #000;
  font-size: .4rem;
}

.coupons .c-f {
  background-color: #f9f9f9;
  height: .7rem;
  line-height: .3rem;
  padding: .25rem .4rem;
  color: #888;
  position: relative;
}

.cf-desc {
  font-size: .3rem;
}

.c-f .circle, .c-f .circle-r {
  width: .2rem;
  height: .2rem;
  position: absolute;
  top: -0.1rem;
  background-color: #f5f5f5;
  border-radius: .2rem;
}

.c-f .circle {
  left: -0.1rem;
}

.c-f .circle-r {
  right: -0.1rem;
}

.coupon .no-more {
  text-align: center;
  margin-top: .4rem;
  position: relative;
}

.coupon .no-more span {
  display: inline-block;
  line-height: .3rem;
  background-color: #f5f5f5;
  padding: 0 .1rem;
  color: #888;
}

.coupon .no-more hr {
  position: absolute;
  width: 100%;
  top: 0.2rem;
  height: 1px;
  z-index: -1;
  color: #888;
  background-color: #888;
}

.container>.collect {
  margin-top: .4rem;
  box-shadow: 1px 1px 2px #eee;
  padding-bottom: 0;
}

.collect .product {
  display: flex;
  display: -webkit-flex;
}

.collect .product>.p-info {
  flex: 1;
  -webkit-flex: 1;
}

.collect .product>.p-edit {
  width: 1rem;
  text-align: center;
  font-size: .3rem;
  color: #888;
  padding-top: .3rem;
}

/*联系客服*/

.container .contact {
  padding: 0 .4rem;
  background-color: #fff;
  margin-top: .4rem;
  box-shadow: 1px 1px 2px #eee;
}

.contact .tel-list .private-tel {
  border-bottom: 1px solid #eee;
}

.contact .tel-list a {
  display: flex;
  display: -webkit-flex;
  padding: .3rem 0;
}

.contact .tel-list a>.icon {
  width: 1.4rem;
  text-align: center;
  justify-content: center;
}

.contact .tel-list a>.icon i {
  font-size: 1rem;
}

.contact .tel-list a>.tel-info {
  flex: 1;
  -webkit-flex: 1;
  font-size: .28rem;
  color: #888;
}

.contact .tel-list a>.tel-info .title {
  font-size: .32rem;
  font-weight: bold;
  line-height: .8rem;
  height: .6rem;
  color: #888;
}

.contact .tel-list a>.tel-info p {
  color: #000;
  font-weight: bold;
}
.no-content{
  width: 100%;
  height: 100%;
  background-color: #fff;
  font-size: .3rem;
  color: #888;
  text-align: center;
}
.no-content span{
  padding-top: 2rem;
  display: block;
}
.no-content i{
  font-size: 2rem;
  margin-top: 2rem;
}
#more{
  padding: .5rem 0 ;
}
.cart-info .no-content,.cart-list .no-content{
  background-color: #f0f1f0;
}
.company .grid{
  margin-top: .4rem;
}
.company .grid .item{
  display: flex;
  display: -webkit-flex;
  padding: .2rem .4rem;
  line-height: .6rem;
   align-items:center;
}
.company .grid .item .label{
  width: 25%;
  text-align: left;
   justify-content:center;
}
.company .grid .item .content{
  flex: 1;
  -webkit-flex:1;
  text-align: right;
  color: #888;
}
.company .grid .item .content img{
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 5px;
  overflow: hidden;
}
.delete-company{
  position: absolute;
  width: 100%;
  bottom: 0;
  text-align: center;
  font-size: .36rem;
  color: #fff;
  text-align: center;
  left: 0;
  height: 1.2rem;
  line-height: 1.2rem;
  background-color: #009b45;
}
